<footer class="py bg-light">
    <!-- Footer -->
    <div class="footer bg bg-light" style="margin-top: 100px;">
        <div class="container">
            <h4 class="footer-title">PETTOSHOP</h4>
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-container">
                        <h5 class="footer-contacts">Contact Us</h5>
                        <p><i class="fa fa-home"></i><span class="footer-content"> Paris, France </span> </p>
                        <p><i class="fa fa-envelope-o"></i><a href="mailto:katia.nseir@gmail.com" class="footer-content-link"> pettoshopParis@gmail.com</a></p>
                        <p><i class="fa fa-phone"></i><a href="tel:+33 6 12 34 56 78" class="footer-content-link"> +33 6 12 34 56 78 </a></p>
                        <p><i class="fa fa-fax"></i> <a href="tel:+33 6 12 34 56 78" class="footer-content-link"> +33 6 12 34 56 78 </a></p>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="footer-container">
                        <h5 class="footer-contacts">Useful Links</h5>
                        <p><a href="" class="footer-content-link"> Home</a></p>
                        <p><a href="" class="footer-content-link"> About Us</a></p>
                        <p><a href="" class="footer-content-link"> -</a></p>
                        <p><a href="" class="footer-content-link"> -</a></p>
                        <p><a href="" class="footer-content-link"> -</a></p>
                        <p><a href="#" class="footer-content-link"> Terms Of Service</a></p>
                        <p><a href="#" class="footer-content-link"> Privacy Policy</a></p>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="footer-container">
                        <h5 class="footer-contacts">Opening Hours</h5>
                        <p class="footer-content">Monday-Friday 4:00 PM - 9:00 PM</p>
                        <p class="footer-content">Saturday 9:00 AM - 6:00 PM</p>
                    </div>
                </div>

            
                    <div class="col-lg-3">
                        <div class="footer-container">
                            <h5 class="footer-contacts">Join Our Newsletter</h5>
                            <p class="footer-content">Subscribe to get our latest news !</p>
                        
                            <div class="form-group">
                                <input type="text" class="form-control" id="news" name="news">
                                <br/>
                                <button class="btn btn-success" type="submit">Search</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="copyright-content">@Copyright 2022. All Rights Reserved</p>
                    </div>
                    
                    
                </div>
            </div>
    </div>
</div>

</footer>