<div class="container px-4 px-lg-5 mt-5">
  <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    <div class="col-sm-5">
      <select class="form-select" (change)="sort('name')" aria-label="Default select example">
          <option disabled [selected]=true>Tri par ordre alphabetique</option>
          <option value="croissant">Croissant</option>
          <option value="-décroissant">Décroissant</option>
        </select>
        <br/>

        <select class="form-select" (change)="sort('price')" aria-label="Default select example">
          <option disabled [selected]=true>Tri par prix</option>
          <option value="croissant">Croissant</option>
          <option value="-décroissant">Décroissant</option>
        </select>
        <br/>

        <input class="form-control me-2" type="text" [(ngModel)] = "searchInput.name" placeholder="Search">
        </div>
        
        
    <div class="col mb-5" *ngFor="let item of items | orderBy: orderHeader: isDescOrder | filterBy: searchInput">
      <form (ngSubmit)="itemDetails(item)">
        <div class="card h-100" >
          <!-- Product image-->
          <img class="card-img-top" src="{{ item.image }}" alt="..." width="300px" height="250px"/>
          <!-- Product details--> 
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{ item.name }}</h5>
              <!-- Product price-->
              {{ item.price }}
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
                <input class="btn btn-outline-dark mt-auto" type="submit" value="View Details">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
