<app-header></app-header>

<section class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">

            <div class="row">

              <div class="col-lg-7">
                <h5 class="mb-3"><a routerLink="/home" class="text-body"><i class="me-2"></i>Continue shopping</a></h5>
                <hr>

                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <p class="mb-1">Shopping cart</p>

                  </div>
                </div>
                <!-- ssssssssss -->
                
                <div class="card mb-3" *ngFor="let order of orders" >
                  <form [formGroup]="formData" (ngSubmit)="editOrder(formData.value, order._id)">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                          <div>
                            <img class="card-img-top" src="{{order.order_item[0].image}}" alt="..."
                              class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                          </div>
                          <div class="ms-3">
                            <br />
                            <p>Quantity: {{ order.quantity }}</p>
                            <input class="form-control" type="number" [disabled]="order.disabled" formControlName="quantity" min="1">
                            <br />
                            <!-- <button type="button" class="btn btn-primary" style="margin-bottom: 10px; margin-right:10px"
                              (click)="order.disabled=!order.disabled">Edit</button> -->
                            <button type="submit" class="btn btn-warning" style="margin-bottom: 10px;" [disabled]="order.disabled">Update Changes</button>
                            <button type="button" class="btn btn-danger" style="margin-bottom: 10px">Delete</button>
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                          <div style="width: 50px;">
                          </div>
                          <div style="width: 200px;">
                            <h5 class="mb-0">{{ order.order_item[0].name }}</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                   </form></div>
               
              </div>
              <div class="col-lg-5">

                <div class="card text-white rounded-3" style="background-color: #3CB371 !important;;">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <h5 class="mb-0">Card details</h5>

                    </div>

                    <form class="mt-4">
                      <div class="form-outline form-white mb-4">
                        <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                          placeholder="Cardholder's Name" />
                        <label class="form-label" for="typeName">Cardholder's Name</label>
                      </div>

                      <div class="form-outline form-white mb-4">
                        <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                          placeholder="1234 5678 9012 3457" minlength="19" maxlength="19" />
                        <label class="form-label" for="typeText">Card Number</label>
                      </div>

                      <div class="row mb-4">
                        <div class="col-md-6">
                          <div class="form-outline form-white">
                            <input type="text" id="typeExp" class="form-control form-control-lg" placeholder="MM/YYYY"
                              size="7" id="exp" minlength="7" maxlength="7" />
                            <label class="form-label" for="typeText">Expiration</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-outline form-white">
                            <input type="password" id="typeText" class="form-control form-control-lg"
                              placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                            <label class="form-label" for="typeText">Cvv</label>
                          </div>
                        </div>
                      </div>

                    </form>

                    <hr class="my-4">

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Subtotal</p>
                      <p class="mb-2">$4798.00</p>
                    </div>

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Shipping</p>
                      <p class="mb-2">$20.00</p>
                    </div>

                    <div class="d-flex justify-content-between mb-4">
                      <p class="mb-2">Total(Incl. taxes)</p>
                      <p class="mb-2">$4818.00</p>
                    </div>
                    <span style="font-size: 22px; margin-right: 20px;">$4818.00</span>

                    <div class="text-right">
                      <button type="button" class="btn btn-success btn-block btn-lg" style="background-color: #337c36;">
                        <div class="d-flex justify-content-between">
                          <span>Checkout</span>
                        </div>
                      </button>
                    </div>

                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
